<hr class="mt-4 mb-4">
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 style="display: flex;
        align-items: center;
        justify-content: center; font-size: large;" class="mb-4 text-muted">CONTACT ME USING</h1>
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/sasukeuzumaki31">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted" style="display: flex;
      align-items: center;
      justify-content: center;" class="mt-4">Keep traveling and stay happy</p>
      </div>
    </div>
    <div class="row justify-content-center">
      OR
    </div>
    <div class="row justify-content-center">
      Mail me at
    </div>
    <a href="https://mail.google.com/"  style="text-decoration: none;" class="row justify-content-center mb-5">
      nimeshnairns@gmail.com
    </a>
  </div>
</footer>